@model WebUI._1._0.Models.ForgotPasswordModel
@{
    ViewBag.Title = "ForgotPassword";
}
<h2>Forgot Password</h2>
@using (Html.BeginForm("ForgetPassword"))
{
    <p>User Name: @Html.TextBoxFor(m=>m.UserName)</p>
    <input type="submit" value="submit" class="btn"/>
}

